{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% extends  "@SonataAdmin/standard_layout.html.twig" %}
{% block sonata_admin_content %}
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>

    {% if offer.offerItems is not empty %}

        {{ form_start(form) }}

        <h3>{{ offer.serviceSnapshot.name }} Service Offer</h3>

        {% include '_fixed_offer_items.html.twig' with {'singlePriceOfferItems': singlePriceOfferItems, 'form': form} only %}

        {% include '_rentable_offer_items.html.twig' with {'rentableOfferItems': rentableOfferItems, 'form': form} only %}

        {% include '_offer_extras.html.twig' with {'selectedSextras': selectedSextras} only %}

        {% include '_offer_summary.html.twig' with {'offer': offer} only %}

        {{ form_row(form.save, {'attr': {'class': 'querty'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    {% else %}
        <h3 class="text-warning">No cost items found for this service.</h3>
    {% endif %}


    {% for label, messages in app.flashes %}
        <div class="well" id="flashes" style="margin-top: 15px" ic-remove-after="2s">
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% include '_offer_live_price_script.html.twig' %}

{% endblock %}