<div class="container" id="replace">

    {{ form_start(form) }}

    {#{% dump offer %}#}
    {#{% dump form %}#}


    <h3>{{ offer.serviceSnapshot.name }} Service Offer</h3>

    <table class="table table-bordered table-hover ">
        <caption>Fixed Price Items</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Net Price</th>
            <th scope="col">Gross Price</th>
            <th scope="col">Currency</th>
            <th scope="col">%VAT</th>
            <th scope="col">Vat Amount</th>
        </tr>
        </thead>
        <tbody>

        {% for singlePriceOfferItem in singlePriceOfferItems %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ singlePriceOfferItem.name }}</td>
                <td class="netprice">{{ singlePriceOfferItem.netPrice }}</td>
                <td class="grossprice">{{ singlePriceOfferItem.grossPrice }}</td>
                <td>{{ singlePriceOfferItem.currency }}</td>
                <td>{{ singlePriceOfferItem.vat }}</td>
                <td class="vat-amount" >{{ singlePriceOfferItem.vatAmount }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <table class="table table-bordered table-hover ">
        <caption>Hourly Priced {{ offer.serviceSnapshot.name }} Items. Please Provide the hours for each item</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">NetPrice/hr</th>
            <th scope="col">GrossPrice/hr</th>
            <th scope="col">NetPrice</th>
            <th scope="col">GrossPrice</th>
            <th scope="col">Currency</th>
            <th scope="col">%VAT</th>
            <th scope="col">Vat Amount</th>
            <th scope="col">Billed Hours</th>
        </tr>
        </thead>
        <tbody>

        {% for rentableOfferItem in rentableOfferItems %}}

            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ rentableOfferItem.name }}</td>
                <td id="item-{{ rentableOfferItem.itemSnapshot.costItem.id }}-net-price-hour">{{ rentableOfferItem.getNetPrice(true) }}</td>
                <td id="item-{{ rentableOfferItem.itemSnapshot.costItem.id }}-gross-price-hour">{{ rentableOfferItem.getGrossPrice(true) }}</td>
                <td class="netprice" id="item-{{ rentableOfferItem.itemSnapshot.costItem.id }}-net-price">{{ rentableOfferItem.netPrice }}</td>
                <td class="grossprice" id="item-{{ rentableOfferItem.itemSnapshot.costItem.id }}-gross-price">{{ rentableOfferItem.grossPrice }}</td>
                <td>{{ rentableOfferItem.currency }}</td>
                <td>{{ rentableOfferItem.vat }}</td>
                <td class="vat-amount" id="item-{{ rentableOfferItem.itemSnapshot.costItem.id }}-vat-amount">{{ rentableOfferItem.vatAmount }}</td>
                <td> {{ form_row(attribute(form, rentableOfferItem.itemSnapshot.name)) }} </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <table class="table table-bordered table-hover ">
        <caption>Offer Summary</caption>
        <thead>
        <tr class="info">
            <th scope="col">Sub Total</th>
            <th scope="col">Grand Total</th>
            <th scope="col">VAT Amount</th>
            <th scope="col">Total Items</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
        </tr>
        </thead>
        <tbody>

            <tr class="warning">
                <td id="subtotal">{{ offer.subTotal }}</td>
                <td id="grandtotal">{{ offer.grandTotal }}</td>
                <td id="vatAmount">{{ offer.vatAmount }}</td>
                <td>{{ offer.offerItems|length }}</td>
                <td>{{ offer.updatedAt is empty ? "New offer" : offer.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ offer.createdAt is empty ? "New Offer" : offer.createdAt|date('Y-m-d H:i:s')  }}</td>
            </tr>

        </tbody>
    </table>

    {#{% dump form.items %}#}

    {#{{ form_row(form.items) }}#}
    {{ form_row(form.save, {'attr': {'class': 'querty'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    {% for label, messages in app.flashes %}
        <div class="well" id="flashes" style="margin-top: 15px" ic-remove-after="2s">
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>

<script>
    $( ".time" ).change(function(e) {
        var timeInputEl = e.target;
        var hoursWorked = timeInputEl.value;
        var costItemId = timeInputEl.getAttribute("costItem");
        var hourlyGrossPrice = $(`#item-${costItemId}-gross-price-hour`).text();
        var hourlyNetPrice = $(`#item-${costItemId}-net-price-hour`).text();

        var offerItemGrossPrice = parseFloat((hourlyGrossPrice * hoursWorked)).toFixed(2);
        var offerItemNetPrice = parseFloat((hourlyNetPrice * hoursWorked)).toFixed(2);
        var offerItemVatAmount = parseFloat((offerItemGrossPrice - offerItemNetPrice)).toFixed(2);

        var offerItemGrossCell = $(`#item-${costItemId}-gross-price`);
        offerItemGrossCell.text(offerItemGrossPrice);
        offerItemGrossCell.effect("highlight", {}, 3500);

        var offerItemNetCell = $(`#item-${costItemId}-net-price`);
        offerItemNetCell.text(offerItemNetPrice);
        offerItemNetCell.effect("highlight", {}, 3500);

        var offerVatAmountCell = $(`#item-${costItemId}-vat-amount`);
        offerVatAmountCell.text(offerItemVatAmount);
        offerVatAmountCell.effect("highlight", {}, 3500);

        var totalGrossPrice = 0;
        $( ".grossprice" ).each(function () {
            totalGrossPrice += parseFloat($(this).text());
        });

        var totalVatAmount = 0;
        $( ".vat-amount" ).each(function () {
            totalVatAmount += parseFloat($(this).text());
        });


        totalGrossPrice = totalGrossPrice.toFixed(2);
        totalVatAmount = totalVatAmount.toFixed(2);

        $('#subtotal').text(totalGrossPrice);
        $('#subtotal').effect("highlight", {}, 3500);

        $('#grandtotal').text(totalGrossPrice);
        $('#grandtotal').effect("highlight", {}, 3500);

        $('#vatAmount').text(totalVatAmount);
        $('#vatAmount').effect("highlight", {}, 3500);


    });
</script>